.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.transactionHistory thead {
  background-color: #2f2f2f;
  color: #ffffff;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid black;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #ffffff;
}
